<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/main">
                        Auto Image
                    </a>
                </li>
                <li>
                    <a href="/customers/index">Customers</a>
                </li>
                <li>
                    <a href="/roll/index">Rolls</a>
                </li>
                <li>
                    <a href="#">Jobs</a>
                </li>
                <li>
                    <% if current_user %>
    <form action='/sessions' method='post'>
      <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
      <input type='hidden' name='_method' value='delete'>
      <input type='submit' value='Log Out'>
    </form>
  <% end %>
                </li>
            </ul>
</div>
<div id="page-content-wrapper">
  <div class="container-fluid">
  <div class="row">
		<h2>Add job!!!</h2>
		<form class="form-horizontal" role="form" method="post" action="/jobs">
			<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
			<input type="hidden" name="customer_id" value="<%=@customer.id%>">
		    <div class="form-group">
		      <label class="control-label col-sm-2" for="first">Make:</label>
		      <div class="col-sm-4">
		      	<select class="form-control" name="make">
		      		<option disabled selected>Select one</option>
		      		<option>Audi</option>
		      		<option>BMW</option>
		      		<option>Honda</option>
		      		<option>Toyota</option>
		      	</select>
		        <!-- <input type="text" class="form-control" id="first" name="first"> -->
		      </div>
		    </div>
		    <div class="form-group">
		      <label class="control-label col-sm-2" for="last">Model:</label>
		      <div class="col-sm-4">
		        <input type="text" class="form-control" id="last" name="model">
		      </div>
		    </div>
		    <div class="form-group">
		      <label class="control-label col-sm-2" for="year">Year:</label>
		      <div class="col-sm-4">
		        <select class="form-control" name="year">
		      		<option selected>2016</option>
		      		<option>2015</option>
		      		<option>2014</option>
		      		<option>2013</option>
		      		<option>2012</option>
		      		<option>2011</option>
		      		<option>2010</option>
		      		<option>2009</option>
		      		<option>2008</option>
		      		<option>2007</option>
		      		<option>2006</option>
		      		<option>2005</option>
		      		<option>2004</option>
		      		<option>2003</option>
		      		<option>2002</option>
		      		<option>2001</option>
		      		<option>2000</option>
		      		<option>1999</option>
		      		<option>1998</option>
		      		<option>1997</option>
		      		<option>1996</option>
		      	</select>
		      </div>
		    </div>
		    <div class="form-group">
		      <label class="control-label col-sm-2" for="email">Total:</label>
		      <div class="col-sm-4">
		        <input type="text" class="form-control" id="phone" name="total">
		      </div>
		    </div>
		    <div class="form-group">
		      <label class="control-label col-sm-2" for="date">Date:</label>
		      <div class="col-sm-4">
		        <input type="text" name="date" class="form-control" data-provide="datepicker" data-date-autoclose="true" data-date-today-highlight="true" placeholder="dd-mm-yyyy">
		      </div>
		    </div>
		    <button id="addtintroll">Add another tint</button>
		    <div class="form-group">
		    	<label class="control-label col-sm-2" for="year">Tint:</label>
		    	<div id="tints" class="col-sm-4">
		    		<div class="col-sm-6 rolls">
		    			<select class="form-control" name="tint1">
		    				<option disabled selected>Select one</option>
		    				<% @tints.each do |t| %>
		    				<option value="<%=t.id%>"><%=t.name%> - <%=t.length%></option>
		    			<!-- 	<option>CS20</option>
		    				<option>CS50</option>
		    				<option>CS5</option> -->
		    				<% end %>
		    			</select>
		    		</div>
		    		<div class="col-sm-6 rollscost">
		    			<input type="text" class="form-control" name="tint1cost" placeholder="input cost">
		    		</div>
		    	</div>
		    </div>
		    <!-- <div class="input-group date">
			  <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
			</div> -->
		    <!-- <div class="form-group">
		      <label class="control-label col-sm-2" for="pwd">Password:</label>
		      <div class="col-sm-4">          
		        <input type="password" class="form-control" id="pwd" placeholder="Enter password">
		      </div>
		    </div> -->
		    <div class="form-group">        
		      <div class="col-sm-offset-2 col-sm-10">
		        <button type="submit" class="btn btn-default">Add</button>
		      </div>
		    </div>
		  </form>
	</div>
        </div>
  </div>
<script type="text/javascript">
	var count = 2;
	$(document).ready(function(){
		$('#addtintroll').click(function(){
			console.log("Clicked")
			if(count < 6){
				$('#tints').append("<div class='col-sm-6 rolls'><select class='form-control' name='tint"+count.toString()+"'><option disabled selected>Select one</option><% @tints.each do |t| %><option value='<%=t.id%>'><%=t.name%> - <%=t.length%></option><% end %></select></div><div class='col-sm-6 rollscost'><input type='text' class='form-control' name='tint"+count.toString()+"cost'placeholder='input cost'></div>")
				count++;
			}
			
			return false;
		})
	})
</script>
