<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/main">
                        Auto Image
                    </a>
                </li>
                <li>
                    <a href="/customers/index">Customers</a>
                </li>
                <li>
                    <a href="/roll/index">Rolls</a>
                </li>
                <li>
                    <a href="/jobs/index">Jobs</a>
                </li>
                <li>
                    <% if current_user %>
    <form action='/sessions' method='post'>
      <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
      <input type='hidden' name='_method' value='delete'>
      <input type='submit' value='Log Out'>
    </form>
  <% end %>
                </li>
            </ul>
</div>
<div id="page-content-wrapper">
  <div class="container-fluid">
      <div class="row">
    <h2>Roll!!!</h2>
    <% if @tint.done == false %>
    <form class="pull-right" action="/rolls/<%=@tint.id%>" method="post">
      <input type="hidden" name="_method" value="patch">
      <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
      <input type="submit" value="Roll Done">
    </form>
    <% end %>
  </div>
  <div class="row">
    <p>Name: <%=@tint.name%></p>
    <p>Cost: <%=number_to_currency(@tint.cost)%></p>
    <p>Length: <%=@tint.length%></p>
    <p>Roll Number: <%=@tint.roll_number%></p>
  </div>
  <div class="row">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4>
            Jobs done with roll 
          </h4>
        </div>
        <table class="table table-fixed">
          <thead>
            <tr>
              <th class="col-xs-2">Make</th>
              <th class="col-xs-2">Model</th>
              <th class="col-xs-2">Date</th>
              <th class="col-xs-2">Revenue</th>
              <th class="col-xs-2"></th>
            </tr>
          </thead>
          <tbody>
            <% total = 0 %>
            <% if @jobs.count != 0 %>
            <% @jobs.each do |j| %>
            <% total += j.cost %>
            <tr>
              <td class="col-xs-2"><%=j.make%></td>
              <td class="col-xs-2"><%=j.model%></td>
              <td class="col-xs-2"><%=j.date.strftime('%D')%></td>
              <td class="col-xs-2"><%=number_to_currency(j.cost)%></td>
              <td class="col-xs-2"><a href="/jobs/<%=j.id%>">View</a></td>
            </tr>
            <% end %>
            <%  else %>
                <tr>
                  <td>No Jobs</td>
                </tr>
            <%    end%>
          </tbody>
        </table>
        <div class="panel-footer clearfix">
          <p class="col-xs-2 col-xs-offset-7">Total: <%=number_to_currency(total)%></p>
          
        </div>
      </div>
  </div>
        </div>
  </div>
