<!DOCTYPE html>
<html>
<head>
  <title>Autoimage</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <%= javascript_include_tag 'jquery-2.1.4.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap-select', 'data-turbolinks-track' => true %>
<script src="http://code.highcharts.com/highcharts.js"></script>
 
  <%= csrf_meta_tags %>
  
</head>
<body>
	
	<% if flash[:errors] %>
	  <% flash[:errors].each do |e| %>
	    <p><%= e %></p>
	  <% end %>
	<% end %>
<%= yield %>

</body>
</html>
